{{- $profile := promptString "profile" "Profile (personal, work, ...)" -}}
{{- $theme := promptString "theme" "tinted8-gruvbox-dark-hard" -}}

[data]
    profile = {{ $profile | quote }}
    theme = {{ $theme | quote }}
