[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = "{{ if .full_name }}{{ .full_name }}{{ else }}Adam Williams{{ end }}"
	email = "{{ if .email }}{{ .email }}{{ else }}adam.g.williams.nz@gmail.com{{ end }}"
[rerere]
	enabled = true