[Desktop Entry]
Name=Steam
Comment=Application for managing and playing games on Steam
Exec={{home}}/.local/bin/steam-mangohud %U
Icon=steam
Terminal=false
Type=Application
Categories=Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
StartupWMClass=steam
PrefersNonDefaultGPU=true
X-GNOME-UsesNotifications=true
Actions=Store;Library;BigPicture;Friends;

[Desktop Action Store]
Name=Store
Exec={{home}}/.local/bin/steam-mangohud steam://store

[Desktop Action Library]
Name=Library
Exec={{home}}/.local/bin/steam-mangohud steam://open/games

[Desktop Action BigPicture]
Name=Big Picture
Exec={{home}}/.local/bin/steam-mangohud steam://open/bigpicture

[Desktop Action Friends]
Name=Friends
Exec={{home}}/.local/bin/steam-mangohud steam://open/friends
